# .env.production
DATABASE_URL=postgresql+asyncpg://myuser:mypassword@db:5432/ecommerce
REDIS_URL=redis://redis:6379

OPENAI_API_KEY=sk-proj-...
FRONTEND_URL=https://e-commerce-assistant.vercel.app
DEBUG=False
PORT=8000
REDIS_TTL_EMBEDDING=3600
REDIS_TTL_SEARCH=300
REDIS_TTL_SESSION=86400
APP_NAME=ecommerce-api
OPENAI_MODEL=gpt-4.1-mini
LOG_FORMAT=json
LOG_LEVEL=INFO
ENVIRONMENT=production

# Add these for DB container
DB_USER=myuser
DB_PASSWORD=mypassword
DB_NAME=ecommerce